*{
    padding: 0;
    margin: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 15px 10px -15px #111;
    padding: 1em 2em; 
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.logo{
    font-size: 2em;
    text-align: center;
    color: #fff;
}

.lesson_name{
    font-size: 1.8em;
    text-align: center;
    color: #fff;
}

.lesson_body{
    padding: 5em;
}

.lesson_content{
    font-size: 1.6em;
    line-height: 1.8em;
}